.newsletterHeader {
    color: yellow;
    font-family: main-font;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}

.newsletterSubheader {
    color: white;
    font-family: main-font;
    text-align: center;
    margin: auto;
}

.cs {
    color: white;
    font-family: sans-font;
    font-weight: 400
    text-align: center;
    margin: auto;

}
