.newsletterHeader {
    color: yellow;
    font-family: main-font;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}

.newsletterSubheader {
    color: white;
    font-family: main-font;
    text-align: center;
    margin: auto;
}

.cs {
    color: white;
    font-family: sans-font;
    font-size: 1em;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: auto;

}
